# 2020-fms GitHub Action config
#
# Action that runs on every push, which should
#     - compile all C code
#     - run all test cases
# Notably, documentation does not get built.
#
# @version v1.0
# @author Connor Henley, @thatging3rkid
name: On-Push Integration Testing

on:
    # Run on every push, except ones to master
    push:
        branches:
            - '*'
            - '!master'

jobs:
  build:
    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v2 # checkout the repository

    # mark that we're running an on-push build
    - name: Setup
      run: touch config.onpush

    # build all the code
    - name: Build
      run: make ci-build

    # run tests
    - name: Test
      run: make ci-test
